html {
  text-align: center;
  background-color:#0cce6b;
}

#root {
  background-color:#0cce6b;
}

#corn {
  width: 20%;
  margin-top: 2em;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  margin-bottom: 2rem;
  border-radius: .3rem;
  --bs-gutter-x: 0rem!important;
}

.middle {
  vertical-align: middle;
}

* {
  box-sizing: content-box!important;
}

h1.text-center {
  font-weight: 800;
  margin-top: 1em;
  margin-bottom: 2em;
}

.form-control {
  border: 1px solid #0cce6b!important;
}

button {
  background-color: #c73e1d!important;
  border-color: #c73e1d!important;
}

#result-num-trips, #result {
  color: white;
  background-color: #a14ebf;
  border: 1px solid #a14ebf!important;  
}

.result {
  text-align: left;
}

label {
  font-weight: 500;
}
