body {
  text-align: center;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  margin-bottom: 2rem;
  border-radius: .3rem;
  width: 15em;
}

*, ::after, ::before {
  box-sizing: content-box!important;
}

h1.text-center {
  font-weight: 800;
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-control {
  border: 1px solid #0cce6b!important;
}

button {
  background-color: #a14ebf!important;
  border-color: #a14ebf!important;
}