html {
  text-align: center;
  background-color:#0cce6b;
}

#root {
  background-color:#0cce6b;
}

#corn {
  width: 15%;
  margin-top: 2em;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  margin-bottom: 2rem;
  border-radius: .3rem;
  --bs-gutter-x: 0rem!important;
}

.result-row {
  margin-bottom: 0.5em;
}

.middle {
  vertical-align: middle;
}

* {
  box-sizing: content-box!important;
}

h1.text-center {
  font-weight: 800;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

#final-result {
  margin-bottom: 3em;
}

.result-block {
  display: block;
}

.form-control {
  border: 1px solid #0cce6b!important;
}

button {
  background-color: #c73e1d!important;
  border-color: #c73e1d!important;
}

#result-num-trips, #result {
  color: white;
  background-color: #a14ebf;
  border: 1px solid #a14ebf!important;
  padding-right: 1em;
  width: 80%;
}

.result {
  text-align: left;
}

label {
  font-weight: 500;
}

#not-possible {
  margin-top: 2em;
}

#input-corn, #input-geese {
  background-color: #c73e1d; 
  width: 80%;
  padding-right: 1em;
  color: white;
}

#display-input {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #c73e1d; 
  color: white;
  padding: 0.5em 1em 0.25em 1em;
}